* {
  margin: 0;
  padding: 0;
}

body {
  background-color: burlywood;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* width: max-content;
  display: flex; */
  /* position: absolute; */
}



.boton {
  border-style: groove;
}
.intronos {
  display: flex;
  width: fit-content;
}

.textnos{
  display: flex;

}
.imgnos{
  border-radius: 35%;
  display: inline-block;
}

.imgindex{
  border-radius: 15%;
}
.nosfamilia {
  max-width: 30%;
}

.imglogo {
  justify-content: flex-start;
  display: flex;
}

.navbar-brand {
  color: black;
  background-color: burlywood;
  text-transform: uppercase;
}
